html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.imgLayout {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.imgLayoutSales {
    width: 150px;
    height: 150px;
    border-radius: 10%;    
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-menu {
    /*width: 1000px;
    left: 0;
    right: 0;
    top: 100%;*/
    background-color: rgb(247,233,142);
    position: fixed;
    top: 165px;
    left: 0;
    width: 100vw;
}

.dropdown-header {
    font-size: 1.25rem;
    font-weight: 600;
}

.menu-heading {
    font-size: 1.25rem;
    font-weight: 600
}

.force-new-column {
    column-break-before: always;
}


.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    overflow-y: auto;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.scrollable-section {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
}

#failure {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#failure .icon, #failure .message {
    display: inline-block;
    vertical-align: middle;
}

#failure .close {
    display: inline-block;
    vertical-align: middle;
    margin-left: auto;
}

.max-height {
    max-height: 500px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto
}

.text-center {
    text-align:center
}

.big-header {
    font-size: 5.00rem;
    font-family: "Bodoni Moda";
}

.small-header {
   
    font-family: "Bodoni Moda";
}