@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
}
<form>

		<div class="row justify-content-center">
			<div class="col-md-4">
				<label class="fw-bold fs-3 mt-3">Sign In</label>
			@* 	<label for="staticEmail" class="visually-hidden">Password</label> *@
				<input type="text" id="inputEmail" placeholder="Email" class="form-control  mt-3" name="inputEmail">
				@* <label for="inputPassword" class="visually-hidden">Password</label> *@
				<input type="password" class="form-control  mt-3" id="inputPassword" placeholder="Password" name="inputPassword">
				<button type="submit" class="btn btn-primary mt-3">Sign In</button>
			</div>
			<div class="col-md-4">
				<label class="fw-bold mt-3 fs-3 ">Create a Lucky's Account</label>
				<div>
					<a type="button" class="btn btn-info mt-3" asp-controller="Home" asp-action="CreateNewAccount">Create New Account</a>
					<a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
				
				</div>
			</div>
		</div>

</form>
