<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LuckysDepartmentStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LuckysDepartmentStore.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">

</head>
<body>
    <header>
        <div class="row align-items-center bg-success bg-opacity-5">
            <div class="col-md-4">

            </div> <!-- Empty first column -->
            <div class="col-md-4 text-center">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/InUse/Luckys1.png" class="imgLayout my-1"></a>
            </div>

                <div class="col-md-4 text-end pe-4">

                    <form class="d-flex" role="search" asp-action="Search" asp-controller="Home">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="searchString">
                        <button class="btn btn-primary" type="submit" value="search"> <i class="bi bi-search"></i></button>
                    </form>
                </div>
            
        </div>
       
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - LuckysDepartmentStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
